<div style="z-index: 10; width: 250px" class="border border-dark bg-white" *ngIf="showThis" (blur)="blurBoardPopup()">
  <div class="board" *ngFor="let board of boards">
    <span>
      <!-- <a class="k-button btn-board">{{ board.name }}</a> -->
      <a class="btn btn-secondary">{{ board.name }}</a>
      <br />
    </span>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="addNewBoard()">Add New Board</button>
    <!-- <app-new-board></app-new-board> -->
  </div>
</div>
