<div class="container">
  <app-navigation></app-navigation>
  <div style="position: relative">
    <router-outlet></router-outlet>
    <!-- <app-board></app-board> -->
    <div style="position: absolute">
      <app-board-popup></app-board-popup>
      <app-new-board></app-new-board>
    </div>
  </div>
</div>
<!-- <app-board-popup></app-board-popup> -->
<!-- <div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      1 of 3
    </div>
  </div>
</div> -->

